<div class="full-page-container">

  <button type="button" class="btn btn-secondary sidebar-btn" *ngIf="!IsSideBarActive " (click)="showSideBar()"><fa name="list" size = "2x"></fa></button>

  <div class="left-side-container bg-dark" *ngIf="IsSideBarActive">
    <ul class="lnav-group">
    <li class="lnav-btn "><a class="lnav-link"><fa name="venus-mars" class="pr-1"></fa>Total Points</a></li>
    <li class="lnav-btn "><a class="lnav-link"><fa name="venus" class="pr-2"></fa>Female Points</a></li>
    <li class="lnav-btn "><a class="lnav-link"><fa name="mars" class="pr-2"></fa>Male Points</a></li>
    <li class="lnav-btn "><a class="lnav-link" (click)="showSideBar()"><fa name="close" class="pr-2"></fa>Close</a></li>
  </ul>
  </div>
  
  <div class="graph-container" id="totalId">
    <ngx-graph
      class="chart-container"
      [links]="hierarchialGraph.links"
      [nodes]="hierarchialGraph.nodes"
      [legend]="false"
      [curve]="curve"
      [draggingEnabled]="false"
    >
      <ng-template #defsTemplate>
        <svg:marker
          id="arrow"
          viewBox="0 -5 10 10"
          refX="8"
          refY="0"
          markerWidth="4"
          markerHeight="4"
        >
          <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
        </svg:marker>
      </ng-template>

      <ng-template #nodeTemplate let-node>
        <svg:g
          class="node"
          ngx-tooltip
          [tooltipPlacement]="'top'"
          [tooltipType]="'tooltip'"
          [tooltipTitle]="node.position"
        >
          <svg:rect
            [attr.width]="node.width"
            [attr.height]="node.height"
            [attr.fill]="node.options.color"
          />
          <svg:text
            alignment-baseline="central"
            [attr.x]="10"
            [attr.y]="node.height / 2"
          >
            {{ node.label }}
          </svg:text>
        </svg:g>
      </ng-template>

      <ng-template #linkTemplate let-link>
        <svg:g class="edge">
          <svg:path
            class="line"
            stroke-width="2"
            marker-end="url(#arrow)"
          ></svg:path>
          <svg:text class="edge-label" text-anchor="middle">
            <textPath
              style="fill: #666;"
              [attr.href]="'#' + link.id"
              startOffset="60%"
            >
              {{ link.label }}
            </textPath>
          </svg:text>
        </svg:g>
      </ng-template>
    </ngx-graph>
  </div>
</div>
