<button
  type="button"
  class="btn btn-secondary sidebar-btn"
  *ngIf="!IsSideBarActive"
  (click)="showSideBar()"
>
  <fa name="list" size="2x"></fa>
</button>

<div class="left-side-container bg-dark" *ngIf="IsSideBarActive">
  <ul class="lnav-group">
    <li class="lnav-btn " [ngClass]="{ active: isTotal }">
      <a class="lnav-link" (click)="showAddMain()"
        ><fa name="plus" class="pr-1"></fa>Додати слово</a
      >
    </li>
    <li class="lnav-btn " [ngClass]="{ active: isTotal }">
      <a class="lnav-link" (click)="showAddRel()"
        ><fa name="plus" class="pr-1"></fa>Додати новий зв'язок</a
      >
    </li>
    <li class="lnav-btn ">
      <a class="lnav-link" (click)="showSideBar()"
        ><fa name="close" class="pr-2"></fa>Закрити</a
      >
    </li>
  </ul>
</div>

<!--ADD NEW WORD-->
<div class="main-word-container" *ngIf="IsAddMain">
  <div class="main-word-header">
    <h3>
      Додати нове слово
    </h3>
  </div>
  <div class="form-group">
    <form [formGroup]="CreateMainForm" novalidate class="main-word-form">
        <div><b>Введіть слово:</b></div>
        <input
          class="form-control"
          formControlName="addMain"
          type="text"
          placeholder=""
          required
        />
        <div><b>Виберіть тип слова:</b></div>
        <select class="custom-select mt-1" formControlName="Type" required>
          <option value="1">Головне</option>
          <option value="2">Асоціація</option>
        </select>
        <button class="btn btn-dark bt-add" [disabled]="CreateMainForm.invalid" (click)="createMain()">
          Додати
        </button>
    </form>
  </div>
</div>

<!-- ADD NEW REL -->
<div class="rel-word-container" *ngIf="IsAddRel">
  <div class="rel-word-header">
    <h3>
      Додати новий зв'язок
    </h3>
  </div>
  <form [formGroup]="CreateRelation" class="rel-word-form">
    <div class="colum-1">
      <div><b>Виберіть головне слово для якого створюється асоціація:</b></div>
      <ngx-select-dropdown  [options]="wordNames" [config]="config" class="Words-DD"
      [(ngModel)] = "selectedMain" [ngModelOptions]="{standalone: true}"   [multiple]="false" name = "m_word_dd"></ngx-select-dropdown>
      
      <div><b>Виберіть слово-асоціацію:</b></div>
      <ngx-select-dropdown  [options]="wordNames" [config]="config"
      [(ngModel)] = "selectedRel" [ngModelOptions]="{standalone: true}" [multiple]="false" name = "r_word_dd"></ngx-select-dropdown>

      <div><b>Введіть кількість чоловічих реакцій:</b></div>
      <input
        required
        class="form-control"
        type="number"
        placeholder=""
        formControlName="MPoints"
      />
      <div><b>Введіть кількість жіночих реакцій:</b></div>
      <input
        required
        class="form-control"
        type="number"
        placeholder=""
        formControlName="FPoints"
      />
    </div>
    <div class="colum-2">
      <div class="colum-2-row-1"><b>Введіть кількість загальних реакцій:</b></div>
      <input
        required
        class="form-control"
        type="number"
        placeholder=""
        formControlName="TPoints"
      />
      <div class="colum-2-row-2"><b>Введіть чоловічі відсотки:</b></div>
      <input
        required
        class="form-control"
        type="number"
        placeholder=""
        formControlName="MPer"
      />
      <div class="colum-2-row-3"><b>Введіть жіночі відсотки:</b></div>
      <input
        required
        class="form-control"
        type="number"
        placeholder=""
        formControlName="FPer"
      />
      <div class="colum-2-row-4"><b>Введіть загальні відсотки:</b></div>
      <input
        required
        class="form-control"
        type="number"
        placeholder=""
        formControlName="TPer"
      />
      <button class="btn btn-dark bt-add" (click)="createRel()" [disabled]="CreateRelation.invalid">Додати</button>
    </div>
  </form>
</div>
