<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">{{mainWord.word}}(Головне слово)</th>
      <th scope="col">Жіночі голоси</th>
      <th scope="col">Чоловічі голоси</th>
      <th scope="col">Загальні голоси</th>
      <th scope="col">Жіночі відсотки</th>
      <th scope="col">Чоловічі відсотки</th>
      <th scope="col">Загальні відсотки</th>
    </tr>
  </thead>
  <tr class="table-light" *ngFor="let rel of relWords">
    <th scope="row">{{rel.relWord.word}}</th>
    <td>{{rel.femalePoints}}</td>
    <td>{{rel.malePoints}}</td>
    <td>{{rel.totalPoints}}</td>
    <td>{{rel.femalePercents}}%</td>
    <td>{{rel.malePercents}}%</td>
    <td>{{rel.totalPercents}}%</td>
  </tr>
  </table>
  <div class="pt-2">
    <ul class="pagination pagination-sm" >
      <li class="page-item active"*ngFor="let t of totalRecords">
        <a class="page-link" (click)="paginate(t)">{{t}}</a>
      </li>
    </ul>
  </div>
