.table {
    width: 70%;
    margin: auto;
}

.pagination {
    width: 5%;
    margin: auto;
}

.page-item .page-link {
    z-index: 2;
    color: #fff;
    background-color: #6c757d;
    border-color:black;
}

.page-link.active {
    background-color: black !important;
}

.sidebar-btn {
    position: fixed;
    width: 70px;
    height: 70px;
    z-index: 2;
    left: 30px;
    top: 70px;
    background-color: #343a40;
    border-radius: 50%;
    box-shadow: 7px 10px 7px -7px rgba(0,0,0,0.7);
}

.sidebar-btn fa {
    color: rgba(145, 145, 145, 0.5);
}
.sidebar-btn :hover {
    color: rgba(145, 145, 145, 0.90);
}

.page-link.active {
    background-color: black !important;
}

.change-container {
    width: 350px;
}

.change-container input {
    width: 350px;
}

.btn-agree {
    width: 100px
}
.btn-disagree {
    width: 100px;
    margin-left: 5px;
}
.right-column {
    /*padding-left: 150px;*/
    width: 150px;
    text-align: right;
}

.search-box {
    width: 1176px;
    margin: auto;
    margin-top: 10px;
}
