.table {
    width: 60%;
    margin: auto;
}

.table thead th {
    width: 33%
}

.right-column {
    padding-left: 150px;
}
.pagination {
    width: 15%;
    margin: auto;
}

.page-item.active .page-link {
    z-index: 2;
    color: #fff;
    background-color: black;
    border-color:black;
}