.table {
    width: 60%;
    margin: auto;
}

.table thead th {
    width: 33%
}

.right-column {
    /*padding-left: 150px;*/
    text-align: right;
}
.pagination {
    width: 15%;
    margin: auto;
}

.page-item .page-link {
    z-index: 2;
    color: #fff;
    background-color: #6c757d;
    border-color:black;
}

.page-link.active {
    background-color: black !important;
}

.change-container {
    width: 350px;
}

.change-container input {
    width: 350px;
}

.btn-agree {
    width: 100px
}
.btn-disagree {
    width: 100px;
    margin-left: 5px;
}

.search-box {
    width: 1020px;
    margin: auto;
    margin-top: 10px;
}